body { 
            text-align: center; 
        }

/* Style du pop-up modal */
.modal {
    display: none; /* Par défaut, le pop-up modal est caché */
    position: fixed; /* Position fixe pour couvrir toute la fenêtre */
    z-index: 9999999; /* La modal doit être au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%; /* Prend toute la largeur de la fenêtre */
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    overflow: auto; /* Ajouter un défilement si nécessaire */
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
}
  
/* Style du contenu du pop-up */
.modal-content {
    background-color: #fefefe; /* Fond blanc */
    margin: 15% auto; /* Centre horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur du contenu */
    text-align: center; /* Centrer le texte dans le contenu de la modal */
}

/* Style pour le bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour le tableau dans le pop-up */
#modal-table {
    width: 80%; /* Largeur prend une partie de la largeur du conteneur */
    margin: 0 auto; /* Centre le tableau horizontalement */
    border-collapse: collapse; /* Fusionner les bordures de la table */
}

#modal-table th, #modal-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center; /* Centrer le texte dans les cellules */
}

#modal-table th {
    background-color: #f2f2f2;
}

#modal-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#modal-table tr:hover {
    background-color: #ddd;
}
