body { /* Font de page */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DADADA;
}

header {
    background-color: #444;
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre les éléments horizontalement */
}

.logo {
    margin-right: 20px;
}

h1 {
    margin: 0;
    margin-left: auto; /* Aligne le texte à droite du logo */
}


main {
    padding: 20px;
	  text-align: center;
}

p {
    line-height: 1.6;
	 text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#demo {
    color: red;
    font-style: italic;
}

